<div >
	<div class="title-container">
    	<h3 class="right-panel-title-text">Today Highlight's</h3>
		<div class="status-container">
			<a href="/login">
			{% if user.isAuth %}
				<img src="../src/public_html/assets/images/logout.png" height="50"  href="/logout"class="status-image"/>
			{% else %}
				<img src="../src/public_html/assets/images/login.png" height="50"  href="/login"class="status-image"/>
			{% endif %}
			</a>
		</div>
	</div>
	<div class="card-container">
		<div class="card">
        	<div class="card-title">Wind Status</div>
			<div class="card-body">
				{{ meteo.ventVitesse }} km/h
			</div>
			<div class="card-footer">Direction : {{ meteo.ventDirection }} </div>
        </div>
		<div class="card">
        	<div class="card-title">Sunrise & Sunset</div>
			<div class="card-body">
				{{ meteo.leveSoleil }}
				</br>
				{{ meteo.coucheSoleil }}
			</div>
        </div>
	</div>
	<div class="card-container">
		<div class="card">
        	<div class="card-title">Humidity</div>
			<div class="card-body">
				{{ meteo.humidite }}%
			</div>
        </div>
		<div class="card">
        	<div class="card-title">Visibility</div>
			<div class="card-body">
				{{ meteo.visibilite }} km(s)
			</div>
        </div>
	</div>
</div>
